.creationSalle
	.title AJOUTER UNE SALLE
		
	form( action="/admin/validAjouterSalle" enctype="multipart/form-data" accept-charset="utf-8" method="post" name="formSalle" target="_self" autocomplete="off" onsubmit="javascript:validAjouterSalle( event );" )
		.nom 
			label( for="nom" ) *Nom : 
			input( value=data.nom type="text" maxlength="255" id="nom" name="nom" placeholder="Nom de la salle ... " onchange="checkNomSalle( this )" required autofocus )
		.numero
			label( for="numero" ) Numéro de voie : 
			input( value=data.numero type="text" id="numero" name="numero" )
		.type_voie
			label( for="type_voie" ) Type de voie : 
			select( id="type_voie" name="type_voie" )
				<option> zoom </option>
				// each role in roles option( type="checkbox" id="role" name=role )
		.libelle_supplementaire
			label( for="libelle_supplementaire" ) *Libellé Supplémentaire : 
			input( value=data.libelle_supplementaire type="text" id="libelle_supplementaire" name="libelle_supplementaire" placeholder="Ex : Bâtiment C / Résidence des Ajoncs ... " )
		.code_postal 
			label( for="code_postal" ) *Code Postal : 
			input( value=data.code_postal type="number" pattern=".{0,5}" maxlength="5" id="code_postal" name="code_postal" autocomplete="off" onchange="" oninput="javascript:chercherVilleDepuisCodePostal( this );" )
		.ville 
			label( for="ville" ) *Ville : 
			input( value=data.ville type="text" id="ville" name="ville"  )
		.pays
			label( for="pays" ) Pays : 
			input( value=data.pays type="text" id="pays" name="pays" placeholder="FRANCE" disabled )
	
		.image
			span( onclick="javascript:ajouterChampImage();" )
				.
					+ 
			.content
				label( for="image" ) Image : 
				input( value=data.image type="file" id="image" name="imageSalle" placeholder="choisissez votre image" )

		.nb_place
			label( for="nb_place" ) Nombre de places : 
			input( value=data.nb_place type="number" id="nb_place" name="nb_place" required )

		.description
			label( for="description" ) Description :
				textarea( id="description" name="description" placeholder="Ici, décrivez la salle, ses équipements, ses particularitées ..." required )

		.web
			label( for="web" ) Lien Internet : 
			input( value=data.web type="text" id="web" name="web" placeholder="http://..." )
			.site_web
				label( for="site_web" ) Site internet : 
				input( value=data.site_web type="text" id="site_web" name="site_web" placeholder="Votre site internet" )
			.facebook
				label( for="facebook" ) Facebook : 
				input( value=data.facebook type="text" id="facebook" name="facebook" placeholder="Votre page facebook" )
			.twitter
				label( for="twitter" ) Twitter : 
				input( value=data.twitter type="text" id="twitter" name="twitter" placeholder="Votre page twitter" )
		
		.map
			iframe( id="OSM" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" onload="javascript:getPosition( event, initOSM );" )

		.hidden
			input( type="hidden" id="latitude" )
			input( type="hidden" id="longitude" )

		.submitAjouterSalleForm
			input( type="submit" id="submitCreateAccountForm" value="Ajouter" )
