extends vueAdminListes
block lignes
	.lines
		if vide
			p= vide 
		else
			table
				thead
					tr
						th
						| Numéro
						th
						| Nom
						th
						| Desc
						th
						| Actions
						th
						| Status
						th
						| Confirmée ?

				tbody
					- var i = 0
					each val in res
						- i++
						tr
							td= i
							td= val.nom
							td= val.description
							td
								span.supprimer( onclick="javascript:gererElement( this, '" + domaine + "', 'delete', '" + val._id + "' )" )  Supprimer 
								| /
								span.modifier( onclick="gererElement( this, '" + domaine + "', 'put', '" + val._id + "' )" ) Modifier
							td= val.status
							td= val.existence_reelle
